@import '../../assets/_variables.scss';

.add-item {
	display: grid;
	grid-template-columns: auto 60px;
	column-gap: 8px;

	&__input {
		padding: 8px 4px;
		border: 1px ridge $lightBlue;
		border-radius: 4px;

		&:focus {
			outline: none;
		}
	}

	&__button {
		border-radius: 4px;
		border: none;
		background-color:darken($linen,15%);
		color: white;
		cursor: pointer;
		transition: background-color .3s;

		&:hover:enabled {
			background-color: darken($lightBlue, 7%);
		}

		&:disabled {
			background-color: lightgray;
			cursor: auto;
		}
	}
}