@import '../assets/_variables.scss';

.wrapper {
	height: 100vh;
	padding: 40px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	row-gap: 8px;
	background-color: $white;
}

.header {
	padding: 8px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.main {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 8px;

	&__part {
		display: grid;
		align-self: flex-start;
		row-gap: 8px;
		padding: 16px;
		border-radius: 16px;
		box-shadow: $linen 0px 6px 12px -2px, $linen 0px 3px 7px -3px;
		border: 1px solid $linen;
		
		&__tab {
			display: grid;
			grid-template-columns: auto;
			padding: 8px;
		}

		&__content {
			/* display: grid;
			grid-template-rows:inherit;
			row-gap: 4px; */
		}
	}
}


.footer {
	text-align: center;
    color: gray;
    font-size: 14px;

	&__social {
		color: #4682B4;
	}
}