$columbia-blue: #c7dadbff;
$silver-sand: #c2cdd3ff;
$gainsboro: #dbe1e5ff;
$cultured: #f4f4f6ff;
$ghost-white: #ece9eeff;
$languid-lavender: #d2c7d4ff;
$thistle: #c1b1c3ff;
$lilac-luster: #af9ab2ff;
$black-coffee: #342f37ff;
$raisin-black: #201a23ff;